
*.properties

Application/.classpath

Application/.classpath

Application/gen/edu/gvsu/ll/Manifest.java

Application/gen/edu/gvsu/ll/Manifest.java

Application/bin/R.txt

Application/bin/classes.dex

Application/bin/dexedLibs/android-support-v4-19da342331ac533e6eff8a0b015b2924.jar

Application/bin/dexedLibs/google-play-services-a85cddff96526d9cd69ac0d64d5f5481.jar

Application/bin/dexedLibs/google-play-services_lib-26e789109bdf8822b70817e9dfdb0ecd.jar

*.cache

*.ap_

Application/gen/com/google/android/gms/R.java

Application/gen/edu/gvsu/ll/Manifest.java

Application/gen/edu/gvsu/ll/Manifest.java

Application/gen/com/google/android/gms/R.java

Application/gen/com/google/android/gms/R.java
